---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=YOUTUBE&part=snippet&q=mogolia&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "C6gOANdLzQT6t2cksIQEDaCtv-Y",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 39,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "d8siOcQslMu4SHNBbmYSaWNjW2o",
              "id": {
                "kind": "youtube#video",
                "videoId": "3VF_tpL3vD4"
              },
              "snippet": {
                "publishedAt": "2022-03-19T05:01:48Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Mongolia",
                "description": "Pictures Requiring Attribution: Arabsalam: https://commons.wikimedia.org/wiki/File:Kh%C3%B6vsg%C3%B6l_Aimag12.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/3VF_tpL3vD4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/3VF_tpL3vD4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/3VF_tpL3vD4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-03-19T05:01:48Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "l9vL-oYb7ZwBLhBMYAgMvAKhkXc",
              "id": {
                "kind": "youtube#video",
                "videoId": "74g8q804ukA"
              },
              "snippet": {
                "publishedAt": "2021-06-19T05:42:06Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Japan",
             [...]
