---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=WEATHER&lat=30&lon=90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":90,"lat":30},"list":[{"main":{"aqi":2},"components":{"co":130.18,"no":0,"no2":0.62,"o3":62.94,"so2":0.03,"pm2_5":1.35,"pm10":3.24,"nh3":8.61},"dt":1709574458}]}'
  recorded_at: Mon, 04 Mar 2024 17:47:38 GMT
recorded_with: VCR 6.2.0
