---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=EDAMAM&lat=30&lon=75
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":75,"lat":30},"list":[{"main":{"aqi":2},"components":{"co":473.98,"no":0,"no2":9.68,"o3":40.77,"so2":2.98,"pm2_5":19.48,"pm10":45.8,"nh3":34.96},"dt":1709485559}]}'
  recorded_at: Sun, 03 Mar 2024 17:05:59 GMT
recorded_with: VCR 6.2.0
