---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=WEATHER&lat=30&lon=75
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":75,"lat":30},"list":[{"main":{"aqi":4},"components":{"co":741.01,"no":0,"no2":14.4,"o3":57.22,"so2":4.83,"pm2_5":57.47,"pm10":70.35,"nh3":32.93},"dt":1709574445}]}'
  recorded_at: Mon, 04 Mar 2024 17:47:25 GMT
recorded_with: VCR 6.2.0
