---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=EDAMAM&lat=30.0&lon=90.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30,"lon":90,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1709416778,"sunrise":1709425433,"sunset":1709467217,"temp":261.58,"feels_like":255.68,"pressure":1013,"humidity":74,"dew_point":258.27,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.06,"wind_deg":189,"wind_gust":3.04,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1709416800,"precipitation":0},{"dt":1709416860,"precipitation":0},{"dt":1709416920,"precipitation":0},{"dt":1709416980,"precipitation":0},{"dt":1709417040,"precipitation":0},{"dt":1709417100,"precipitation":0},{"dt":1709417160,"precipitation":0},{"dt":1709417220,"precipitation":0},{"dt":1709417280,"precipitation":0},{"dt":1709417340,"precipitation":0},{"dt":1709417400,"precipitation":0},{"dt":1709417460,"precipitation":0},{"dt":1709417520,"precipitation":0},{"dt":1709417580,"precipitation":0},{"dt":1709417640,"precipitati[...]
